body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

a {
  color: #1E90FF; /* Dodger Blue */
  text-decoration: none;
}

button {
  background-color: #1E90FF;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

button:hover {
  background-color: #104E8B; /* Darker Blue */
}
